body {
  background: url('../img/blackjack.jpg');
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #821828;
  font-family: 'Sail', cursive;  
  font-size: 110px;
  text-align: center;
  margin-top: -10px;
}
h2 {
  font-size: 40px;
  text-align: center;
  color: #A72430;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.bank-container {
  position: absolute;
  top: 130px;
  right: 40px;
  font-size: 20px;
  text-align: center;
  background: rgba(255, 255, 255, .8);
  color: #B02530;
  border-radius: 5px;
  padding: 5px;
  padding-top: 0;
}

.container {
  background: rgba(204,242,205,.9);
  border-radius: 40px;
  margin-top: 80px;
  padding: 50px;
  padding-top: 20px;
  position: relative;
}

.player-hand-container {
  width: 45%;
  float: left;
}

.dealer-hand-container {
  width: 45%;
  float: right;
}

.increase-bet, .decrease-bet {
  display: inline;
  font-size: 10px;
  border-radius: 35%;
  padding: 2px 5px;
}

.buttons .btn {
  margin-top: 30px;
  display: inline-block;
  background: #821828;
  color: white;
  border-color: #A72430;
}

.alert {
  width: 200px;
}

